services:
  mongo:
    image: mongo:latest
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}

  db-init:
    build: ./db
    depends_on:
      - mongo
    environment:
      - MONGODB_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/valodiscordhub?authSource=admin

  api:
    build: ./api
    depends_on:
      - mongo
      - db-init
    environment:
      - MONGODB_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/valodiscordhub?authSource=admin
      - MONGODB_DB=valodiscordhub
    ports:
      - "8000:8000"
    env_file:
      - .env

  bot:
    build: ./bot
    depends_on:
      - mongo
      - db-init
      - api
    environment:
      - API_BASE_URL=http://api:8000
      - PYTHONPATH=/bot:/bot/..
    env_file:
      - .env
    dns:
      - 8.8.8.8
      - 8.8.4.4

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: http://api:8000
    depends_on:
      - api
    ports:
      - "3000:80"

volumes:
  mongo_data:
